.xboost-list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 5px;
}

@media only screen and (max-width: 749px) {
  .xboost-list-social {
    justify-content: center;
  }
}

.xboost-list-social__item .icon {
  height: 2.2rem;
  width: 2.2rem;
}

.xboost-list-social__link {
  align-items: center;
  display: flex;
  padding: 0.5rem;
  color: rgb(var(--color-foreground));
  background: rgba(var(--color-foreground));
  border-radius: 10px;
}
.xboost-list-social__item .svg-wrapper{
  width: 30px;
  height: 30px;
}
.x-boost-utility-bar .xboost-list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.xboost-list-social__link:hover .icon {
  transform: scale(1.07);
}
