/* Footer Css */

.footer .xboost-footer__content-top {
  padding-bottom: 2rem !important;
}

.footer .xboost-footer__content-bottom {
  padding-top: 0rem !important;
}

.footer .xboost-footer__copyright {
  margin-top: 0 !important;
}
