.xboost-blog-articles {
  display: grid;
  grid-gap: 1rem;
  column-gap: var(--grid-mobile-horizontal-spacing);
  row-gap: var(--grid-mobile-vertical-spacing);
}

.xboost-blog-articles .card-wrapper {
  width: 100%;
}

@media screen and (min-width: 750px) {
  .xboost-blog-articles {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: var(--grid-desktop-horizontal-spacing);
    row-gap: var(--grid-desktop-vertical-spacing);
  }

  .xboost-blog-articles--collage > *:nth-child(3n + 1),
  .xboost-blog-articles--collage > *:nth-child(3n + 2):last-child {
    grid-column: span 2;
    text-align: center;
  }

  .xboost-blog-articles--collage > *:nth-child(3n + 1) .card,
  .xboost-blog-articles--collage > *:nth-child(3n + 2):last-child .card {
    text-align: center;
  }

  .xboost-blog-articles--collage > *:nth-child(3n + 1) .xboost-article-card__image--small .ratio::before,
  .xboost-blog-articles--collage > *:nth-child(3n + 2):last-child .xboost-article-card__image--small .ratio::before {
    padding-bottom: 22rem;
  }

  .xboost-blog-articles--collage > *:nth-child(3n + 1) .xboost-article-card__image--medium .ratio::before,
  .xboost-blog-articles--collage > *:nth-child(3n + 2):last-child .xboost-article-card__image--medium .ratio::before {
    padding-bottom: 44rem;
  }

  .xboost-blog-articles--collage > *:nth-child(3n + 1) .xboost-article-card__image--large .ratio::before,
  .xboost-blog-articles--collage > *:nth-child(3n + 2):last-child .xboost-article-card__image--large .ratio::before {
    padding-bottom: 66rem;
  }
}

@media screen and (min-width: 990px) {
  .xboost-blog-articles--collage > *:nth-child(3n + 1) .xboost-article-card__image--small .ratio .ratio::before,
  .xboost-blog-articles--collage > *:nth-child(3n + 2):last-child .xboost-article-card__image--small .ratio .ratio::before {
    padding-bottom: 27.5rem;
  }

  .xboost-blog-articles--collage > *:nth-child(3n + 1) .xboost-article-card__image--medium .ratio::before,
  .xboost-blog-articles--collage > *:nth-child(3n + 2):last-child .xboost-article-card__image--medium .ratio::before {
    padding-bottom: 55rem;
  }

  .xboost-blog-articles--collage > *:nth-child(3n + 1) .xboost-article-card__image--large .ratio::before,
  .xboost-blog-articles--collage > *:nth-child(3n + 2):last-child .xboost-article-card__image--large .ratio::before {
    padding-bottom: 82.5rem;
  }
}
