.multicolumn .title {
  margin: 0;
}

.multicolumn.no-heading .title {
  display: none;
}

.multicolumn .xboost-title-wrapper-with-link {
  margin-top: 0;
}

.multicolumn .xboost-multicolumn-card {
  transform: translateY(0);
  transition: transform 0.5s ease;
}

.multicolumn .xboost-multicolumn-card:hover {
  transform: translateY(-0.75rem);
  transition: transform 0.5s ease;
}

@media screen and (max-width: 749px) {
  .multicolumn .xboost-title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .multicolumn__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (max-width: 989px) {
  .multicolumn .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.xboost-multicolumn-card__image-wrapper--third-width {
  width: 33%;
}

.xboost-multicolumn-card__image-wrapper--half-width {
  width: 50%;
}

.xboost-multicolumn-list__item.center
  .xboost-multicolumn-card__image-wrapper:not(
    .xboost-multicolumn-card__image-wrapper--full-width
  ),
.xboost-multicolumn-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.multicolumn .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 750px) {
  .multicolumn .button {
    margin-top: 4rem;
  }
}

.xboost-multicolumn-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.xboost-multicolumn-list__item:only-child {
  max-width: 72rem;
}

.xboost-multicolumn-list__item--empty {
  display: none;
}

.multicolumn:not(.background-none) .xboost-multicolumn-card {
  background: rgb(var(--color-background));
  height: 100%;
}

.multicolumn.background-primary .xboost-multicolumn-card {
  background: rgb(var(--color-background))
    linear-gradient(
      rgba(var(--color-foreground), 0.04),
      rgba(var(--color-foreground), 0.04)
    );
}

.xboost-multicolumn-list h3 {
  line-height: calc(1 + 0.5 / max(1, var(--font-heading-scale)));
}

.xboost-multicolumn-list h3,
.xboost-multicolumn-list p {
  margin: 0;
}

.xboost-multicolumn-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.xboost-multicolumn-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.xboost-multicolumn-list__item.center .media--adapt,
.xboost-multicolumn-list__item .media--adapt .multicolumn-card__image {
  width: auto;
}

.xboost-multicolumn-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .xboost-multicolumn-list {
    margin: 0;
    width: 100%;
  }

  .xboost-multicolumn-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media screen and (min-width: 750px) and (max-width: 989px) {
  .xboost-multicolumn-list:not(.slider) {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .xboost-multicolumn-list.slider {
    padding: 0;
  }

  .xboost-multicolumn-list__item,
  .grid--4-col-desktop .xboost-multicolumn-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .xboost-multicolumn-list__item {
    margin-top: 4rem;
  }
}

.background-none .xboost-multicolumn-card-spacing {
  padding: 0;
  margin: 0;
}

.xboost-multicolumn-card__info {
  padding: 2.5rem;
}

.background-none .xboost-multicolumn-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .slider .xboost-multicolumn-card__info {
  padding-bottom: 0;
}

.background-none .xboost-multicolumn-card__image-wrapper + .xboost-multicolumn-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .xboost-multicolumn-card__info {
  padding-left: 0.5rem;
}

.background-none
  .slider
  .xboost-multicolumn-card__image-wrapper
  + .xboost-multicolumn-card__info {
  padding-left: 1.5rem;
}

.background-none
  .xboost-multicolumn-list:not(.slider)
  .center
  .xboost-multicolumn-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 749px) {
  .background-none .slider .xboost-multicolumn-card__info {
    padding-bottom: 1rem;
  }

  .multicolumn.background-none .slider.xboost-slider--mobile {
    margin-bottom: 0rem;
  }
}

@media screen and (min-width: 750px) {
  .background-none .xboost-multicolumn-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .xboost-multicolumn-list .-card__info,
  .background-none
    .-list:not(.slider)
    .center
    .xboost-multicolumn-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.xboost-multicolumn-card {
  position: relative;
  box-sizing: border-box;
}

.xboost-multicolumn-card
  > .xboost-multicolumn-card__image-wrapper--full-width:not(
    .xboost-multicolumn-card-spacing
  ) {
  border-top-left-radius: calc(
    var(--text-boxes-radius) - var(--text-boxes-border-width)
  );
  border-top-right-radius: calc(
    var(--text-boxes-radius) - var(--text-boxes-border-width)
  );
  overflow: hidden;
}

.multicolumn.background-none .xboost-multicolumn-card {
  border-radius: 0;
}

.xboost-multicolumn-card__info .link {
  text-decoration: none;
  font-size: inherit;
  margin-top: 1.5rem;
}

.xboost-multicolumn-card__info .xboost-icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
}

@media screen and (min-width: 990px) {
  .xboost-multicolumn-list__item--empty {
    display: list-item;
  }
}
.xboost-multicolumn-card
  > .xboost-multicolumn-card__image-wrapper--full-width:not(
    .xboost-multicolumn-card-spacing
  ) {
  border-radius: var(--all-section-border-radius) !important;
}